[submodule "submodulos/thematic_search_engine_actas_concejomedellin"]
	path = submodulos/thematic_search_engine_actas_concejomedellin
	url = git@github.com:Mongar28/thematic_search_engine_actas_concejomedellin.git
[submodule "submodulos/extraccion_restructuracion_de_pdfs"]
	path = submodulos/extraccion_restructuracion_de_pdfs
	url = git@github.com:Mongar28/extraccion_restructuracion_de_pdfs.git
